#photo {
  border-radius: 100%;
  border-style: solid;
  border-width: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%
}

h1 , h2{
  font-family: courier;
  width: 100%;
  text-align: center;
}

h5 {
  font-family: courier;
  display: inline;
  padding: 10px 10px 10px 10px;
  text-decoration: underline;
}

hr {
  border-width: 2px;
  border-color: black;
  width: auto;
  margin: 20px;;
}

a:visited, a:link{
  color: black;
}

p {
  font-family: courier;
  margin-left: 50px;
  margin-right: 50px;
}

p a:visited, p a:link{
  text-decoration: none;
}