#photo {
  border-radius: 100%;
  border-style: solid;
  border-width: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%
}

h1 , h2{
  font-family: courier;
  width: 100%;
  text-align: center;
}

h5 {
  font-family: courier;
  display: inline;
  padding: 10px 10px 10px 10px;
  text-decoration: underline;
}

hr {
  border-width: 2px;
  border-color: black;
  width: auto;
  margin: 20px;;
}

#projects img {
  height: 250px;
  width: 100%
}

.container:hover img {
  filter: brightness(15%);
  transition: filter 0.4s
}

a:visited, a:link{
  color: black;
}

.container {
  position: relative;
  text-align: center;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: courier;
  font-size: 200%;
  color: white;
  visibility: hidden;
}

.container:hover .text {
  visibility: visible;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.5rem
}